
<!doctype html>
<html lang="en">

    <!-- Este es el nav bar es la parte superior que aparece en la página web-->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="http://127.0.0.1:8000/hotel/index/">Hotel Real</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDarkDropdown" aria-controls="navbarNavDarkDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
        <ul class="navbar-nav">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Opciones
            </a>
            <ul class="dropdown-menu dropdown-menu-dark">
              <li><a class="dropdown-item" href="http://127.0.0.1:8000/hotel/about/">Acerca de nosotros</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>


  <div class="container text-center">
    <div class="row">
      <div class="col">
        

        <img src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/0a/43/df/4a/20160201-173126-largejpg.jpg?w=1200&h=-1&s=1" class="img-fluid" alt="...">


      </div>

    </div>
  </div>

  <li><hr class="dropdown-divider"></li>


  <div class="innerPageTmplBox dmDefaultPage  dmRespRowsWrapper dmRespRowsWrapperSize1" id="1841797601"> <div class="dmRespRow fullBleedChanged fullBleedMode u_1245301488" id="1245301488"> <div class="dmRespColsWrapper" id="1635211739"> <div class="dmRespCol small-12 u_1486174198 hasBackgroundOverlay medium-12 large-12" id="1486174198"> <span id="1958003471"></span> 
  
    <div class="u_1131210331 dmRespRow" id="1131210331"> <div class="dmRespColsWrapper" id="1800337937"> <div class="dmRespCol large-12 medium-12 small-12" id="1687054859"> <div class="dmNewParagraph" data-element-type="paragraph" data-version="5" id="1022595542" style="transition: opacity 1s ease-in-out 0s;" data-diy-text=""> <h3 class="text-align-left"><span style="text-transform: uppercase; display: initial;">Aquí podrás encontrar más infromación sobre nuestro hotel</span></h3> 
   </div> 
    <div class="u_1775054364 dmDividerWrapper clearfix" data-element-type="dDividerId" data-layout="divider-style-1" data-widget-version="2" id="1775054364"><hr class="dmDivider" style="border-width:2px; border-top-style:solid; color:grey;" id="1247184700"></div> 
    <div class="u_1439260702 dmNewParagraph" data-element-type="paragraph" data-version="5" id="1439260702" style="transition: none 0s ease 0s; text-align: left; display: block;"><p class="text-align-left"><span class="" style="display: initial;"><span style="display: initial;">Hotel Real ha sido reconocido en varias ocasiones con diferentes acreditaciones que ratifican nuestro compromiso con los mejores estandares en atención al cliente</span> 
   </span></p><p class="text-align-left"><span style="display: initial;"><br></span></p><p class="text-align-left"><span style="display: initial;">Hotel Real es uno de los más populares en sitios dedicados a la busqueda de hoteles para viajeros como son Hotels.com, Expedia, Booking.com and Tripadvisor - Siendo de los mejores votados por sus huespedes, Hay muchas razones por las cuales elegir a Hotel Real.<br></span></p></div> 
    <div class="u_1205282430 dmNewParagraph" data-element-type="paragraph" data-version="5" id="1205282430"><p class="size-20 m-size-16"><span style="display: unset; font-weight: bold;" class="font-size-20 m-font-size-16">Accesibilidad a Hotel Real</span></p></div> 
    <div class="dmNewParagraph" data-element-type="paragraph" data-version="5" id="1473412116"><p><span class="" style="display: unset;"><span style="display: unset;">Hotel Real se construyó originalmente en 1923. Desde entonces, el hotel se ha conservado y no tiene habitaciones en el primer piso ni ascensores para ofrecer. Después de consultar a los expertos sobre las opciones, se ha determinado que no se puede lograr fácilmente y que no es técnicamente factible hacer que el hotel sea accesible para los clientes potenciales que requieren sillas de ruedas. Podemos acomodar a las personas con discapacidad auditiva y buscaremos satisfacer otras necesidades. Llame al 562-283-8755 para adaptaciones especiales o para obtener más información.</span> 
   </span></p><p><span style="display: initial;"><br></span></p><p><span style="display: unset;">Una incomparable hostpitalidad te espera. Esperamos poder darte la bienvenida a nuestro hotel pronto</span></p></div> 
    <div class="u_1656460751 dmNewParagraph" data-element-type="paragraph" data-version="5" id="1656460751" style="transition: none 0s ease 0s; text-align: left; display: block;"><p class="m-size-16 size-20"><span class="m-font-size-16 font-size-20" style="font-weight: bold; display: unset;">Award-Winning Hospitality</span></p></div> 
    <div class="dmNewParagraph" data-element-type="paragraph" data-version="5" id="1551220159"><p><span style="display: initial;">Conveniente para los huéspedes que viajan por negocios, nuestro hotel de Long Beach, CA, se encuentra a tres minutos en automóvil del centro de convenciones de Long Beach. No hay nada que valoremos más que la satisfacción de los huéspedes, por lo que nos enorgullece tener una calificación de estrellas de 4,6 sobre 5, promediada a partir de cientos de reseñas. Ven y quédate en la joya escondida de Long Beach, a solo tres cuadras de la playa.<br></span></p></div> 
   </div> 
   </div> 
   </div> 
   </div>



   



 
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  </head>


  <div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="https://d1csarkz8obe9u.cloudfront.net/posterpreviews/elegant-royal-hotel-logo-design-template-baa93e95a4caef947345ca72f87a2400_screen.jpg?ts=1611220642" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Contactenos</h5>

          <a href="#" class="btn btn-primary">Facebook</a>
          <a href="#" class="btn btn-primary">Instragram</a>
          <a href="#" class="btn btn-primary">Twitter</a>
          
        </div>
      </div>
    </div>
  </div>


  <body>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
  

</body>
</html>