{%load static%}
<!DOCTYPE html>
<html>
<head>
<title>Luxury Hotel</title>
<link rel="short icon" href="{%static 'lib/web/images/logo.png'%}">
<!-- for-mobile-apps -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Resort Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //for-mobile-apps -->
<link href="{%static 'lib/web/css/bootstrap.css'%}" rel="stylesheet" type="text/css" media="all" />
<link rel="stylesheet" href="{%static 'lib/web/css/flexslider.css'%}" type="text/css" media="screen" property="" />
<link rel="stylesheet" type="text/css" href="{%static 'lib/web/css/zoomslider.css'%}" />
<link rel="stylesheet" type="text/css" href="{%static 'lib/web/css/style.css'%}" />
<link href="{%static 'lib/web/css/font-awesome.css'%}" rel="stylesheet"> 
<script type="text/javascript" src="{%static 'lib/web/js/modernizr-2.6.2.min.js'%}"></script>
<!--/web-fonts-->
<link href="//fonts.googleapis.com/css?family=Dosis:200,300,400,500,600" rel="stylesheet">
<link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i" rel="stylesheet">
<!--//web-fonts-->
</head>
<body>
<!--/main-header-->
  <div class="w3layouts-top-strip">
			{%include 'banner.html'%}
		</div>
  <!--/banner-section-->
	<div id="demo-1" class="banner-inner">
		
        <!--/HEADER-->
        {%include 'header.html'%}
        
        <!--/HEADER-->


		</div>
		 </div>
  <!--/banner-section-->
 <!--//main-header-->
	        
						<!-- breadcrumb -->
	<div class="w3_breadcrumb">
	<div class="breadcrumb-inner">	
			<ul>
				<li><a href="http://127.0.0.1:8000/hotel/index/">Home</a> <i>/</i></li>
				
				<li>Tabla de Reservaciones </li>
			</ul>
		</div>
	</div>
<!-- //breadcrumb -->
		



<!--/content-inner-section-->
		
<div class="w3_content_agilleinfo_inner">
		<div class="container">

			<h2 class="w3l-inner-h-title">Espacio para agregar Reservaciones</h2>
					
			<div class="col-md-6 w3l_about_bottom_right two">
				<h3 class="tittle why">Reservar</h3>
				<div class="book-form">
			
				   <form action="/hotel/guardarreservacion/{{reservacion.id}}" method="post">  {% csrf_token %}
						<div class="col-md-6 form-date-w3-agileits">
							<label><i class="fa fa-user" aria-hidden="true"></i> Nombre :</label>
							<input type="text" name="inputnombre" id="inputnombre" placeholder="Tu nombre" required="">
						</div>
						<div class="col-md-6 form-date-w3-agileits">
						  <label><i class="fa fa-user" aria-hidden="true"></i> Apellido :</label>
						  <input  type="text" name="inputapellido" id="inputapellido" placeholder="Tu Apellido" required="">
					  </div>
						 <div class="col-md-6 form-date-w3-agileits">
										<label><i class="fa fa-calendar" aria-hidden="true"></i> Fecha de llegada :</label>
										<input  id="inputfechaLl" name="inputfechaLl" type="date" value="mm/dd/yyyy" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'mm/dd/yyyy';}" required="">
									
									</div>
			
						<div class="col-md-6 form-date-w3-agileits">
									<label><i class="fa fa-calendar" aria-hidden="true"></i> Fecha de salida :</label>
										<input  id="inputfechaS" name="inputfechaS" type="date" value="mm/dd/yyyy" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'mm/dd/yyyy';}" required="">
										
									</div>
			
			
			
						<div class="col-md-6 form-left-agileits-w3layouts bottom-w3ls">
								<label><i class="fa fa-home" aria-hidden="true"></i> Elige una habitación :</label>
								<select id="inputhabitacion" name = "inputhabitacion" class="form-control">
									<option selected>Elige una habitación </option>
									<option value = 'Deluxe Double Room'>Deluxe Double Room</option>
									<option value = 'Deluxe Single Room'>Deluxe Single Room</option>
									<option value = 'Habitación Doble'>Habitación Doble</option>
									<option value = 'Habitación Individual'>Habitación Individual</option>
									<option value = 'Habitación triple'>Habitación triple</option>
									<option value = 'Habitación Familiar'>Habitación Familiar</option>
								</select>
						</div>
						<div class="col-md-6 form-date-w3-agileits second-agile">
						  <label><i class="fa fa-envelope" aria-hidden="true"></i> Email :</label>
						  <input type="email" name="inputemail" id="inputemail" placeholder="Tu email" required="">
					  </div>
						<div class="clearfix"> </div>
						<div class="make wow shake" data-wow-duration="1s" data-wow-delay=".5s">
							  <input type="submit" value="Hacer una reservación">
			
							  
						</div>
				</form>
			
			
				</div>
			
			</div>

		</div>
	</div>
	

		



			<!--//content-inner-section-->

		</div>
	</div>
 <!-- Footer -->
	
	<!-- FOOTER -->

	{%include 'footer.html'%}
	<!-- FOOTER -->


	<!-- Dropdown-Menu-JavaScript -->
			<script>
				$(document).ready(function(){
					$(".dropdown").hover(            
						function() {
							$('.dropdown-menu', this).stop( true, true ).slideDown("fast");
							$(this).toggleClass('open');        
						},
						function() {
							$('.dropdown-menu', this).stop( true, true ).slideUp("fast");
							$(this).toggleClass('open');       
						}
					);
				});
			</script>
		<!-- //Dropdown-Menu-JavaScript -->


<script type="text/javascript" src="{%static 'lib/web/js/jquery.zoomslider.min.js'%}"></script>
		<!-- search-jQuery -->
				<script src="{%static 'lib/web/js/main.js'%}"></script>

<!--/script-->
	<script src="{%static 'lib/web/js/simplePlayer.js'%}"></script>
			<script>
				$("document").ready(function() {
					$("#video").simplePlayer();
				});
			</script>
			<!-- flexSlider -->
					<script defer src="{%static 'lib/web/js/jquery.flexslider.js'%}"></script>
					<script type="text/javascript">
					$(window).load(function(){
					  $('.flexslider').flexslider({
						animation: "slide",
						start: function(slider){
						  $('body').removeClass('loading');
						}
					  });
					});
				  </script>

<script type="text/javascript" src="{%static 'lib/web/js/move-top.js'%}"></script>
<script type="text/javascript" src="{%static 'lib/web/js/easing.js'%}"></script>

<script type="text/javascript">
			jQuery(document).ready(function($) {
				$(".scroll").click(function(event){		
					event.preventDefault();
					$('html,body').animate({scrollTop:$(this.hash).offset().top},900);
				});
			});
</script>
 <script type="text/javascript">
						$(document).ready(function() {
							/*
							var defaults = {
					  			containerID: 'toTop', // fading element id
								containerHoverID: 'toTopHover', // fading element hover id
								scrollSpeed: 1200,
								easingType: 'linear' 
					 		};
							*/
							
							$().UItoTop({ easingType: 'easeOutQuart' });
							
						});
					</script>
<!--end-smooth-scrolling-->
<!--js for bootstrap working-->
   
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js" integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk" crossorigin="anonymous"></script>



    <!--script src="{%static 'lib/web/js/bootstrap.js'%}"></script-->
<!-- //for bootstrap working -->
</body>
</html>