{%load static%}
<div class="w3_content_agilleinfo_inner">
    <div class="container text-center">
        <div class="inner-agile-w3l-part-head">
           <h2 class="w3l-inner-h-title">Opciones disponibles como admin</h2>
            
        </div>
                <div class="login-form">
                    <form method="POST" action="">

                        <div class="col-md-6 form-date-w3-agileits">
                            <div class="col-4">
                                <label><i class="fa fa-user" aria-hidden="true"></i> Usuarios</label>
                            </div>
                            <div class="col-8"> 
                                <a href="/hotel/mostrarusers" class="btn btn-info">Ver lista de usuarios registrados</a>
                            </div>
                        </div>
                        <div class="col-md-6 form-date-w3-agileits">
                            <div class="col-4">
                                <label><i class="fa fa-user" aria-hidden="true"></i> Reservaciones</label>
                            </div>
                            <div class="col-8"> 
                                <a href="/hotel/mostrarreservaciones" class="btn btn-info">Ver lista de Reservaciones</a>
                            </div>
                        </div>
                        
             

                    </form>
                    
        </div>
   </div>
        
        
</div>
