{%load static%}
<!DOCTYPE html>
<html>
<head>
<title>Luxury Hotel</title>
<!-- for-mobile-apps -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Resort Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //for-mobile-apps -->
<link href="{%static 'lib/web/css/bootstrap.css'%}" rel="stylesheet" type="text/css" media="all" />
<link rel="stylesheet" href="{%static 'lib/web/css/flexslider.css'%}" type="text/css" media="screen" property="" />
<link rel="stylesheet" type="text/css" href="{%static 'lib/web/css/zoomslider.css'%}" />
<link rel="stylesheet" type="text/css" href="{%static 'lib/web/css/style.css'%}" />
<link href="{%static 'lib/web/css/font-awesome.css'%}" rel="stylesheet"> 
<script type="text/javascript" src="{%static 'lib/web/js/modernizr-2.6.2.min.js'%}"></script>
<!--/web-fonts-->
<link href="//fonts.googleapis.com/css?family=Dosis:200,300,400,500,600" rel="stylesheet">
<link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i" rel="stylesheet">
<!--//web-fonts-->
</head>
<body>
<!--/main-header-->
  <!--/banner-section-->
  <div class="w3layouts-top-strip">
			<div class="top-srip-agileinfo">
				<div class="w3ls-social-icons text-left">
					<a class="facebook" href="#"><i class="fa fa-facebook"></i></a>
					<a class="twitter" href="#"><i class="fa fa-twitter"></i></a>
					<a class="pinterest" href="#"><i class="fa fa-pinterest-p"></i></a>
					<a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a>
					
				</div>
				<div class="agileits-contact-info text-right">
					<ul>
						<li><i class="fa fa-volume-control-phone" aria-hidden="true"></i> +503 2346 2000</li>
						<li><i class="fa fa-envelope-o" aria-hidden="true"></i> <a href="mailto:luxuryHotel@lux.com">luxuryHotel@lux.com</a></li>
					</ul>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	<div id="demo-1" data-zs-src='["{%static "/lib/web/images/4.jpg"%}", "{%static "/lib/web/images/2.jpg"%}", "{%static "/lib/web/images/3.jpg"%}", "{%static "/lib/web/images/1.jpg"%}"]'  data-zs-overlay="dots">
		<div class="demo-inner-content">

        <!--/HEADER-->
        {%include 'header.html'%}
        
        <!--/HEADER-->


			<!--/banner-info-->
			   <div class="baner-info">   
			      <h3>Bien<span>venido </span>A   <span>Luxury </span> Hotel</h3>
				  <h4>Reserva el mejor hotel en el sitio turistico de tus sueños </h4>
				  <p>Enjoy Your Stay In</p>
			   </div>
			<!--/banner-ingo-->
			
		</div>
		   </div>
    </div>
  <!--/banner-section-->
 <!--//main-header-->
 	<div class="special featured">
		  <div class="container">
				   <div class="ab-w3l-spa">
				        <h3 class="tittle">¡Bienvenido a nuestro Hotel!</h3>
						<p>Un hospedaje comodo, elegante, con las mejores condiciones para mantenerte en un ambiente confortable 
							y puedas disfrutar de tu viaje, estaremos encantados de recibirte en nuestras instalaciones y pongas en 
							nuestras manos tu cuidado y el de las personas importantes para ti.
							</p>
				   </div>
				<!-- services -->
							<div class="w3_agileits_services_grids">
								<div class="col-md-3 w3_agileits_services_grid hvr-overline-from-center">
									<div class="w3_agileits_services_grid_agile">
										<div class="w3_agileits_services_grid_1">
											<img src="{%static 'lib/web/images/5.jpg'%}" alt="service-img">
										</div>
										<h3>Deluxe Room</h3>
										<p>Una habitación de lujo, perfecta para descansar y disfrutar su estancia con los mayores estandares.</p>
									</div>
								</div>
								<div class="col-md-3 w3_agileits_services_grid hvr-overline-from-center">
									<div class="w3_agileits_services_grid_agile">
										<div class="w3_agileits_services_grid_1">
											<img src="{%static 'lib/web/images/6.jpg'%}" alt="service-img">
										</div>
										<h3>Luxury Room</h3>
										<p>Una habitación elegante y confortable, perfecta para el descanso a un precio acorde a sus caracteristicas.</p>
									</div>
								</div>
								<div class="col-md-3 w3_agileits_services_grid hvr-overline-from-center">
									<div class="w3_agileits_services_grid_agile">
										<div class="w3_agileits_services_grid_1">
											<img src="{%static 'lib/web/images/7.jpg'%}" alt="service-img">
										</div>
										<h3>Swimming Pool</h3>
										<p>Las instalaciones incluyen piscinas amplias, limpias e higienicas para el uso de los huéspedes .</p>
									</div>
								</div>
								<div class="col-md-3 w3_agileits_services_grid hvr-overline-from-center">
									<div class="w3_agileits_services_grid_agile">
										<div class="w3_agileits_services_grid_1">
											<img src="{%static 'lib/web/images/8.jpg'%}" alt="service-img">
										</div>
										<h3>Spa Care</h3>
										<p>Se incluye el servicio de Spa, para que una mayor relajación y disfrute de la estancia en nuestro hotel.</p>
									</div>
								</div>
								<div class="clearfix"> </div>
							</div>
				<!-- //services -->
				  
				           <div class="agileinf-button">    <a class="read" href="http://127.0.0.1:8000/hotel/products/">
											Leer más sobre nuestros servicios
							   </a>
							   </div>

		   </div>
    </div>


<!-- testimonials -->
	<div class="guests-agile">
			<h3 class="tittle">Nuestros Huéspedes</h3>
			<div class="w3_agileits_testimonial_grids">
				<section class="slider">
					<div class="flexslider">
						<ul class="slides">
							<li>
								<div class="w3_agileits_testimonial_grid">
								<i class="fa fa-quote-right" aria-hidden="true"></i>
									<p>Es un excelente Hotel, perfecto para descansar y relajarte durante tus vacaciones.</p>
									<img src="{%static 'lib/web/images/t3.jpg'%}" width="125" height="100" alt=" " class="img-responsive" />
									
								</div>
							</li>
							<li>
								<div class="w3_agileits_testimonial_grid">
								<i class="fa fa-quote-right" aria-hidden="true"></i>
									<p>Su atención es espectacular, en mi próximo viaje trataré de volver a hospedarme con ustedes.</p>
									<img src="{%static 'lib/web/images/t2.jpg'%}" width="125" height="100" alt=" " class="img-responsive" />
									
								</div>
							</li>
							<li>
								<div class="w3_agileits_testimonial_grid">
								<i class="fa fa-quote-right" aria-hidden="true"></i>
									<p>Todas las instalaciones son perfectas, en verdad se disfruta mucho la estancia en el hotel,
										fue una gran decición elegirlos.
									</p>
									<img src="{%static 'lib/web/images/t4.jpg'%}" width="125" height="100" alt=" " class="img-responsive" />
									
								</div>
							</li>
						</ul>
					</div>
				</section>
				
				<!-- //flexSlider -->
			</div>
	</div>
<!-- //testimonials -->

	
	<!-- FOOTER -->

	{%include 'footer.html'%}
	<!-- FOOTER -->


	<!-- Dropdown-Menu-JavaScript -->
			<script>
				$(document).ready(function(){
					$(".dropdown").hover(            
						function() {
							$('.dropdown-menu', this).stop( true, true ).slideDown("fast");
							$(this).toggleClass('open');        
						},
						function() {
							$('.dropdown-menu', this).stop( true, true ).slideUp("fast");
							$(this).toggleClass('open');       
						}
					);
				});
			</script>
		<!-- //Dropdown-Menu-JavaScript -->


<script type="text/javascript" src="{%static 'lib/web/js/jquery.zoomslider.min.js'%}"></script>
		<!-- search-jQuery -->
				<script src="{%static 'lib/web/js/main.js'%}"></script>

<!--/script-->
	<script src="{%static 'lib/web/js/simplePlayer.js'%}"></script>
			<script>
				$("document").ready(function() {
					$("#video").simplePlayer();
				});
			</script>
			<!-- flexSlider -->
					<script defer src="{%static 'lib/web/js/jquery.flexslider.js'%}"></script>
					<script type="text/javascript">
					$(window).load(function(){
					  $('.flexslider').flexslider({
						animation: "slide",
						start: function(slider){
						  $('body').removeClass('loading');
						}
					  });
					});
				  </script>
<!--//script for portfolio-->
				<!-- Calendar -->
				<link rel="stylesheet" href="{%static 'lib/web/css/jquery-ui.css'%}" />
				<script src="{%static 'lib/web/js/jquery-ui.js'%}"></script>
				  <script>
						  $(function() {
							$( "#datepicker,#datepicker1,#datepicker2,#datepicker3" ).datepicker();
						  });
				  </script>
			<!-- //Calendar -->
<script type="text/javascript" src="{%static 'lib/web/js/move-top.js'%}"></script>
<script type="text/javascript" src="{%static 'lib/web/js/easing.js'%}"></script>

<script type="text/javascript">
			jQuery(document).ready(function($) {
				$(".scroll").click(function(event){		
					event.preventDefault();
					$('html,body').animate({scrollTop:$(this.hash).offset().top},900);
				});
			});
</script>
 <script type="text/javascript">
						$(document).ready(function() {
							/*
							var defaults = {
					  			containerID: 'toTop', // fading element id
								containerHoverID: 'toTopHover', // fading element hover id
								scrollSpeed: 1200,
								easingType: 'linear' 
					 		};
							*/
							
							$().UItoTop({ easingType: 'easeOutQuart' });
							
						});
					</script>
<!--end-smooth-scrolling-->
<!--js for bootstrap working-->
	<script src="{%static 'lib/web/js/bootstrap.js'%}"></script>
<!-- //for bootstrap working -->
</body>
</html>