{%load static%}
<!DOCTYPE html>
<html>
<head>
<title>Luxury Hotel</title>
<!-- for-mobile-apps -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Resort Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //for-mobile-apps -->
<link href="{%static 'lib/web/css/bootstrap.css'%}" rel="stylesheet" type="text/css" media="all" />
<!-- pop-up -->
<link href="{%static 'lib/web/css/popuo-box.css'%}" rel="stylesheet" type="text/css" media="all" />
<!-- //pop-up -->
<link rel="stylesheet" href="{%static 'lib/web/css/flexslider.css'%}" type="text/css" media="screen" property="" />
<link rel="stylesheet" type="text/css" href="{%static 'lib/web/css/zoomslider.css'%}" />
<link rel="stylesheet" type="text/css" href="{%static 'lib/web/css/style.css'%}" />
<link href="{%static 'lib/web/css/font-awesome.css'%}" rel="stylesheet"> 
<script type="text/javascript" src="{%static 'lib/web/js/modernizr-2.6.2.min.js'%}"></script>
<!--/web-fonts-->
<link href="//fonts.googleapis.com/css?family=Dosis:200,300,400,500,600" rel="stylesheet">
<link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i" rel="stylesheet">
<!--//web-fonts-->
</head>
<body>
<!--/main-header-->
  <div class="w3layouts-top-strip">
			<div class="top-srip-agileinfo">
				<div class="w3ls-social-icons text-left">
					<a class="facebook" href="#"><i class="fa fa-facebook"></i></a>
					<a class="twitter" href="#"><i class="fa fa-twitter"></i></a>
					<a class="pinterest" href="#"><i class="fa fa-pinterest-p"></i></a>
					<a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a>
					
				</div>
				<div class="agileits-contact-info text-right">
					<ul>
						<li><i class="fa fa-volume-control-phone" aria-hidden="true"></i> +090 480 088</li>
						<li><i class="fa fa-envelope-o" aria-hidden="true"></i> <a href="mailto:luxuryHotel@lux.com">luxuryHotel@lux.com</a></li>
					</ul>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
  <!--/banner-section-->
	<div id="demo-1" class="banner-inner">
		
        
        <!--/HEADER-->
        {%include 'header.html'%}
        
        <!--/HEADER-->


		</div>
		 </div>
  <!--/banner-section-->
 <!--//main-header-->
	        
						<!-- breadcrumb -->
	<div class="w3_breadcrumb">
	<div class="breadcrumb-inner">	
			<ul>
				<li><a href="http://127.0.0.1:8000/hotel/index/">Home</a><i>/</i></li>
				
				<li>Single</li>
			</ul>
		</div>
	</div>

         <!-- MOSTRAR HABITACIONES -->


    <!--//main-header-->
 	<div class="special featured">
        <div class="container">
                 <div class="ab-w3l-spa">
                      <h3 class="tittle">HABITACIONES</h3>

                 </div>
              <!-- services -->
                          <div class="w3_agileits_services_grids">
                              <div class="col-md-3 w3_agileits_services_grid hvr-overline-from-center">
                                  <div class="w3_agileits_services_grid_agile">
                                      <div class="w3_agileits_services_grid_1">
                                          <img src="{%static 'lib/web/images/5.jpg'%}" alt="service-img">
                                      </div>
                                      <h3>Deluxe Double Room</h3>
                                      <p>Una habitación de lujo, perfecta para descansar y disfrutar su estancia con los mayores estandares.</p>
                                  </div>
                              </div>
                              <div class="col-md-3 w3_agileits_services_grid hvr-overline-from-center">
                                  <div class="w3_agileits_services_grid_agile">
                                      <div class="w3_agileits_services_grid_1">
                                          <img src="{%static 'lib/web/images/6.jpg'%}" alt="service-img">
                                      </div>
                                      <h3>Deluxe Single Room</h3>
                                      <p>Una habitación elegante y confortable, perfecta para el descanso a un precio acorde a sus caracteristicas.</p>
                                  </div>
                              </div>
                              <div class="col-md-3 w3_agileits_services_grid hvr-overline-from-center">
                                  <div class="w3_agileits_services_grid_agile">
                                      <div class="w3_agileits_services_grid_1">
                                          <img src="{%static 'lib/web/images/doble.jpg'%}" alt="service-img">
                                      </div>
                                      <h3>Habitación Doble</h3>
                                      <p>Habitación acondicionada para recibir a 2 personas, ya sea en camas separadas o en cama compartida.</p>
                                  </div>
                              </div>
                              <div class="col-md-3 w3_agileits_services_grid hvr-overline-from-center">
                                  <div class="w3_agileits_services_grid_agile">
                                      <div class="w3_agileits_services_grid_1">
                                          <img width="320px" src="{%static 'lib/web/images/individual.jpg'%}" alt="service-img">
                                      </div>
                                      <h3>Habitación individual</h3>
                                      <p>Habitación equipada para recibir a una persona, bajo costo  con todas las comodidades.</p>
                                  </div>
                              </div>


          <!-- services -->
                      <div class="w3_agileits_services_grids">
                          <div class="col-md-3 w3_agileits_services_grid hvr-overline-from-center">
                              <div class="w3_agileits_services_grid_agile">
                                  <div class="w3_agileits_services_grid_1">
                                      <img src="{%static 'lib/web/images/triple.jpg'%}"  width="320" height="255" alt="service-img">
                                  </div>
                                  <h3>Habitación Triple</h3>
                                  <p>Una habitación adecuada con 3 camas, perfecta para descansar y disfrutar su estancia con la mayor comodidad.</p>
                              </div>
                          </div>
                          <div class="col-md-3 w3_agileits_services_grid hvr-overline-from-center">
                              <div class="w3_agileits_services_grid_agile">
                                  <div class="w3_agileits_services_grid_1">
                                      <img src="{%static 'lib/web/images/familiar.jpg'%}" width="320" height="255" alt="service-img">
                                  </div>
                                  <h3>Habitación familiar</h3>
                                  <p>Una habitación amplia, con todas las comodidades necesarias para recibirlo a usted junto a su familia.</p>
                              </div>
                          </div>
                          <div class="col-md-3 w3_agileits_services_grid hvr-overline-from-center">
                              <div class="w3_agileits_services_grid_agile">
                                  <div class="w3_agileits_services_grid_1">
                                      <img src="{%static 'lib/web/images/sala1.jpg'%}" width="320" height="255" alt="service-img">
                                  </div>
                                  <h3>Sala de Eventos 1</h3>
                                  <p>Habitación acondicionada para recibir a 2 personas, ya sea en camas separadas o en cama compartida.</p>
                              </div>
                          </div>
                          <div class="col-md-3 w3_agileits_services_grid hvr-overline-from-center">
                              <div class="w3_agileits_services_grid_agile">
                                  <div class="w3_agileits_services_grid_1">
                                      <img src="{%static 'lib/web/images/sala2.jpg'%}" width="320" height="255"  alt="service-img">
                                  </div>
                                  <h3>Sala de Eventos 2</h3>
                                  <p>Habitación equipada para recibir a una persona, costo razonable,  con todas las comodidades.</p>
                              </div>
                          </div>
                          <div class="clearfix"> </div>
                      </div>
          <!-- //services -->
            

     </div>
</div>

         <!-- MOSTRAR HABITACIONES -->


	<div class="featured-facility">
        <!-- welcome -->
          
              <div class="spa-agile">
              <h3 class="tittle fea">Instalaciones y Servicios</h3>
                  <div class="col-md-3 spa-grid">
                      
                          <i class="fa fa-cutlery" aria-hidden="true"></i>
                      
                          <h4>Restaurante </h4>
                      
                  </div>
                  <div class="col-md-3 spa-grid">
                      
                      <i class="fa fa-glass" aria-hidden="true"></i>
                      
                      
                          <h4>Bar</h4>
                          
                  
                  </div>
                  <div class="col-md-3 spa-grid lost">
                      
                          <i class="fa fa-wheelchair-alt" aria-hidden="true"></i>
                      
                          <h4>Gimnasio</h4>
                          
                      
                  </div>
                  <div class="col-md-3 spa-grid lost">
                      
                      <i class="fa fa-car" aria-hidden="true"></i>
                      
                      
                          <h4>Transporte</h4>
                          
                  
                  </div>
                  <div class="clearfix"> </div>
              </div>
          
      <!-- //welcome -->
      </div>




<div class="special featured">
        <!-- //about-bottom -->
      <!-- about-bottom -->
    <div class="about-bottom" id="ab">
      <!-- about-bottom -->

        <!-- FORMULARIO DE RESERVACIÓN -->

        {%include 'formReservacion.html'%}

    
          <div class="col-md-6 w3l_about_bottom_right one">
              <h3 class="tittle why">¿ Por qué elegirnos ?</h3>
              <div class="panel-group w3l_panel_group_faq" id="accordion" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default">
                  <div class="panel-heading" role="tab" id="headingOne">
                    <h4 class="panel-title asd">
                      <a class="pa_italic" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span><i class="glyphicon glyphicon-minus" aria-hidden="true"></i>Restaurante y Banquetes
                      </a>
                    </h4>
                  </div>
                  <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                    <div class="panel-body panel_text">
                      Podrá disfrutar de deliciosos platillos en nuestro Restaurante, con un ambiente tranquilo y relajante.
                    </div>
                  </div>
                </div>
                <div class="panel panel-default">
                  <div class="panel-heading" role="tab" id="headingTwo">
                    <h4 class="panel-title asd">
                      <a class="pa_italic collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span><i class="glyphicon glyphicon-minus" aria-hidden="true"></i>Transporte incluido
                      </a>
                    </h4>
                  </div>
                  <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                     <div class="panel-body panel_text">
                      Pondremos a su disposición un conductor el cual irá a recogerlo al Aeropuerto para llevarlo hasta nuestro hotel.
                    </div>
                  </div>
                </div>
                <div class="panel panel-default">
                  <div class="panel-heading" role="tab" id="headingThree">
                    <h4 class="panel-title asd">
                      <a class="pa_italic collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span><i class="glyphicon glyphicon-minus" aria-hidden="true"></i>El mejor cuidado para nuestros queridos visitantes
                      </a>
                    </h4>
                  </div>
                  <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                     <div class="panel-body panel_text">
                      Nuestras instalaciones y nuestro personal está capacitado para daer el mejor cuidado y atención a nuestros huéspedes.
                    </div>
                  </div>
                  
                </div>
                <div class="panel panel-default">
                  <div class="panel-heading" role="tab" id="headingFour">
                    <h4 class="panel-title asd">
                      <a class="pa_italic collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span><i class="glyphicon glyphicon-minus" aria-hidden="true"></i>Piscinas y áreas de diversión
                      </a>
                    </h4>
                  </div>
                  <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                     <div class="panel-body panel_text">
                      Nuestras instalaciones incluyen piscinas y otras áreas para la diversión de nuestros visitantes.
                    </div>
                  </div>
                  
                </div>
              </div>
          </div>
          <div class="clearfix"> </div>
      </div>
    </div>



  <!-- //about -->
      <!-- /plans -->
        <div class="plans-section">
                   <div class="container">
                   <h3 class="w3l-inner-h-title">Reservaciones y tarifas</h3>
                          <div class="priceing-table-main">
                   <div class="col-md-3 price-grid">
                      <div class="price-block agile">
                          <div class="price-gd-top pric-clr1">
                              <h4>Deluxe Double Room</h4>
                              <h3><span>$</span>275</h3>
                              <h5>1 Night</h5>
                          </div>
                          <div class="price-gd-bottom">
                                 <div class="price-list">
                                  
                                      <ul>
                                              <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                              <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
                                              <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
                                              <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
                                              <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
                                      
                                       </ul>
                                       <h6 class="bed"><i class="fa fa-bed" aria-hidden="true"></i></h6>
                              </div>
                              <div class="price-selet pric-sclr1">		    			   
                                <a href="#ab" class="scroll" >Reservar Ahora</a>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-md-3 price-grid ">
                      <div class="price-block agile">
                          <div class="price-gd-top pric-clr2">
                              <h4>Deluxe Single Room</h4>
                              <h3><span>$</span>175</h3>
                              <h5>1 Noche</h5>
                          </div>
                          <div class="price-gd-bottom">
                              <div class="price-list">
                                  
                                      <ul>
                                      <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                      <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                      <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
                                      <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
                                      <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
                                      
                                  </ul>
                                  <h6 class="bed two"><i class="fa fa-bed" aria-hidden="true"></i></h6>
                                  
                              </div>
                              <div class="price-selet pric-sclr2">
                                  <a href="#ab" class="scroll" >Reservar ahora</a>
  
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-md-3 price-grid lost">
                      <div class="price-block agile">
                          <div class="price-gd-top pric-clr3">
                              <h4>Habitación doble</h4>
                              <h3><span>$</span>100</h3>
                              <h5>1 Noche</h5>
                          </div>
                          <div class="price-gd-bottom">
                              <div class="price-list">
                                  <ul>
                                      <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                      <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                      <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                      <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
                                      <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
                                      
                                  </ul>
                                  <h6 class="bed three"><i class="fa fa-bed" aria-hidden="true"></i></h6>
                              </div>
                              <div class="price-selet pric-sclr3">
                                  <a href="#ab" class="scroll" >Reservar ahora</a>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-md-3 price-grid wthree lost">
                      <div class="price-block agile">
                          <div class="price-gd-top pric-clr4">
                              <h4>habitación individual</h4>
                              <h3><span>$</span> 50</h3>
                              <h5>1 Noche</h5>
                          </div>
                          <div class="price-gd-bottom">
                              <div class="price-list">
                                  <ul>
                                      <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                      <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                      <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                      <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                      <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
                                      
                                  </ul>
                                  <h6 class="bed four"><i class="fa fa-bed" aria-hidden="true"></i></h6>
                              </div>
                              <div class="price-selet pric-sclr4">
                                  <a href="#ab" class="scroll" >Reservar ahora</a>
                              </div>
                          </div>
                      </div>
                  </div>

                  <div class="col-md-3 price-grid wthree lost">
                    <div class="price-block agile">
                        <div class="price-gd-top pric-sclr1">
                            <h4>Habitación triple</h4>
                            <h3><span>$</span> 150</h3>
                            <h5>1 Night</h5>
                        </div>
                        <div class="price-gd-bottom">
                            <div class="price-list">
                                <ul>
                                    <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                    <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                    <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                    <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                    <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
                                    
                                </ul>
                                <h6 class="bed"><i class="fa fa-bed" aria-hidden="true"></i></h6>
                            </div>
                            <div class="price-selet pric-sclr1">
                                <a href="#ab" class="scroll" >Reservar ahora</a>
                            </div>
                        </div>
                    </div>
                </div>
                

                <div class="col-md-3 price-grid wthree lost">
                  <div class="price-block agile">
                      <div class="price-gd-top pric-clr2">
                          <h4>Habitación familiar</h4>
                          <h3><span>$</span> 225</h3>
                          <h5>1 Noche</h5>
                      </div>
                      <div class="price-gd-bottom">
                          <div class="price-list">
                              <ul>
                                  <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                  <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                  <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                  <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                  <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
                                  
                              </ul>
                              <h6 class="bed two"><i class="fa fa-bed" aria-hidden="true"></i></h6>
                          </div>
                          <div class="price-selet pric-sclr2">
                              <a href="#ab" class="scroll" >Reservar ahora</a>
                          </div>
                      </div>
                  </div>
              </div>

              <div class="col-md-3 price-grid wthree lost">
                <div class="price-block agile">
                    <div class="price-gd-top pric-clr3">
                        <h4>Sala de eventos 1</h4>
                        <h3><span>$</span> 200</h3>
                        <h5>6 Horas</h5>
                    </div>
                    <div class="price-gd-bottom">
                        <div class="price-list">
                            <ul>
                                <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
                                
                            </ul>
                            <h6 class="bed three"><i class="fa fa-bed" aria-hidden="true"></i></h6>
                        </div>
                        <div class="price-selet pric-sclr3">
                            <a href="#ab" class="scroll" >Reservar ahora</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-3 price-grid wthree lost">
              <div class="price-block agile">
                  <div class="price-gd-top pric-clr4">
                      <h4>Sala de eventos 2</h4>
                      <h3><span>$</span> 100</h3>
                      <h5>6 Horas</h5>
                  </div>
                  <div class="price-gd-bottom">
                      <div class="price-list">
                          <ul>
                              <li><i class="fa fa-star" aria-hidden="true"></i></li>
                              <li><i class="fa fa-star" aria-hidden="true"></i></li>
                              <li><i class="fa fa-star" aria-hidden="true"></i></li>
                              <li><i class="fa fa-star" aria-hidden="true"></i></li>
                              <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
                              
                          </ul>
                          <h6 class="bed four"><i class="fa fa-bed" aria-hidden="true"></i></h6>
                      </div>
                      <div class="price-selet pric-sclr4">
                          <a href="#ab" class="scroll" >Book Now</a>
                      </div>
                  </div>
              </div>
          </div>

                  <div class="clearfix"> </div>
              </div>
          </div>
      </div>

 
	<!-- FOOTER -->

	{%include 'footer.html'%}
	<!-- FOOTER -->


	<!-- Dropdown-Menu-JavaScript -->
			<script>
				$(document).ready(function(){
					$(".dropdown").hover(            
						function() {
							$('.dropdown-menu', this).stop( true, true ).slideDown("fast");
							$(this).toggleClass('open');        
						},
						function() {
							$('.dropdown-menu', this).stop( true, true ).slideUp("fast");
							$(this).toggleClass('open');       
						}
					);
				});
			</script>
		<!-- //Dropdown-Menu-JavaScript -->


<script type="text/javascript" src="{%static 'lib/web/js/jquery.zoomslider.min.js'%}"></script>
<!-- search-jQuery -->
        <script src="{%static 'lib/web/js/main.js'%}"></script>
<!--/script-->
<script type="text/javascript" src="{%static 'lib/web/js/move-top.js'%}"></script>
<script type="text/javascript" src="{%static 'lib/web/js/easing.js'%}"></script>


<script type="text/javascript">
			jQuery(document).ready(function($) {
				$(".scroll").click(function(event){		
					event.preventDefault();
					$('html,body').animate({scrollTop:$(this.hash).offset().top},900);
				});
			});
</script>
 <script type="text/javascript">
						$(document).ready(function() {
							/*
							var defaults = {
					  			containerID: 'toTop', // fading element id
								containerHoverID: 'toTopHover', // fading element hover id
								scrollSpeed: 1200,
								easingType: 'linear' 
					 		};
							*/
							
							$().UItoTop({ easingType: 'easeOutQuart' });
							
						});
					</script>

<!--end-smooth-scrolling-->
<!--js for bootstrap working-->
	<script src="{%static 'lib/web/js/bootstrap.js'%}"></script>
<!-- //for bootstrap working -->
</body>
</html>