{%load static%}
<!DOCTYPE html>
<html>
<head>
<title>Luxury Hotel</title>
<link rel="short icon" href="{%static 'lib/web/images/logo.png'%}">
<!-- for-mobile-apps -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Resort Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //for-mobile-apps -->
<link href="{%static 'lib/web/css/bootstrap.css'%}" rel="stylesheet" type="text/css" media="all" />
<link rel="stylesheet" href="{%static 'lib/web/css/flexslider.css'%}" type="text/css" media="screen" property="" />
<link rel="stylesheet" type="text/css" href="{%static 'lib/web/css/zoomslider.css'%}" />
<link rel="stylesheet" type="text/css" href="{%static 'lib/web/css/style.css'%}" />
<link href="{%static 'lib/web/css/font-awesome.css'%}" rel="stylesheet"> 
<script type="text/javascript" src="{%static 'lib/web/js/modernizr-2.6.2.min.js'%}"></script>
<!--/web-fonts-->
<link href="//fonts.googleapis.com/css?family=Dosis:200,300,400,500,600" rel="stylesheet">
<link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i" rel="stylesheet">
<!--//web-fonts-->
</head>
<body>
<!--/main-header-->
  <div class="w3layouts-top-strip">
		{%include 'banner.html'%}
		</div>
  <!--/banner-section-->
	<div id="demo-1" class="banner-inner">
		
        <!--/HEADER-->
        {%include 'header.html'%}
        
        <!--/HEADER-->


		</div>
		 </div>
  <!--/banner-section-->
 <!--//main-header-->
	        
						<!-- breadcrumb -->
	<div class="w3_breadcrumb">
	<div class="breadcrumb-inner">	
			<ul>
				<li><a href="http://127.0.0.1:8000/hotel/index/">Home</a> <i>/</i></li>
				
				<li>Registrate</li>
			</ul>
		</div>
	</div>
<!-- //breadcrumb -->
			<!--/content-inner-section-->
			
				  <div class="w3_content_agilleinfo_inner">
					    <div class="container">
							<div class="inner-agile-w3l-part-head">
					           <h2 class="w3l-inner-h-title">Registrate en nuestra web</h2>
								
							</div>
									<div class="w3_mail_grids">
										<form method="POST" action="/hotel/register/"> {% csrf_token %}

											<div class="row">
												<div class="col-4">
												   <label for="exampleInputEmail1">Nombre de Usuario</label>
												</div>
												<div class="col-8"> 
												   {{form.username}}
												</div>
											 </div>
											 <div class="row">
												<div class="col-4">
												   <label for="exampleInputEmail1">Primer Nombre:</label>
												</div>
												<div class="col-8">
												   {{form.first_name}}
												</div>
											 </div>
											 <div class="row">
												<div class="col-4">
												   <label for="exampleInputEmail1">Apellido</label>
												</div>
												<div class="col-8">
												   {{form.last_name}}
												</div>
											 </div>
											 <div class="row">
												<div class="col-4">
												   <label for="exampleInputEmail1">Correo</label>
												</div>
												<div class="col-8">
												   {{form.email}}
												</div>
											 </div>
											 <div class="row">
												<div class="col-4">
												   <label for="exampleInputPassword1">Contraseña:</label>
												</div>
												<div class="col-8">
												   {{form.password1}}
												</div>
											 </div>
											 <div class="row">
												<div class="col-4">
												   <label for="exampleInputPassword1">Confirme la contraseña:</label>
												</div>
												<div class="col-8">
												   {{form.password2}}
												</div>
											 </div>
											 
											 <div class="row">
												<div class="col">
													
												   <button class="btn btn-success">Registrar Usuario</button>
												</div>
												<div class="col">
												   <a href="/hotel/" class="btn btn-info">¿Ya tienes Usuario? Ingresa Aquí</a>
							  
												   {% if messages %}
												   <ul class="messages">
													  {% for message in messages %}
													  <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
														 {% endfor %}
												   </ul>
												   {% endif %}
							  
							  
												</div>
								 
											 </div>

                                        </form>
										
							</div>
					   </div>
							
                            
				  </div>


			<!--//content-inner-section-->

<!--//Sección de la tabla de suscripciones-->
		
	
	
	
<!--//Sección de la tabla de suscripciones-->






		</div>
	</div>
 <!-- Footer -->
	
	<!-- FOOTER -->

	{%include 'footer.html'%}
	<!-- FOOTER -->


	<!-- Dropdown-Menu-JavaScript -->
			<script>
				$(document).ready(function(){
					$(".dropdown").hover(            
						function() {
							$('.dropdown-menu', this).stop( true, true ).slideDown("fast");
							$(this).toggleClass('open');        
						},
						function() {
							$('.dropdown-menu', this).stop( true, true ).slideUp("fast");
							$(this).toggleClass('open');       
						}
					);
				});
			</script>
		<!-- //Dropdown-Menu-JavaScript -->


<script type="text/javascript" src="{%static 'lib/web/js/jquery.zoomslider.min.js'%}"></script>
		<!-- search-jQuery -->
				<script src="{%static 'lib/web/js/main.js'%}"></script>

<!--/script-->
	<script src="{%static 'lib/web/js/simplePlayer.js'%}"></script>
			<script>
				$("document").ready(function() {
					$("#video").simplePlayer();
				});
			</script>
			<!-- flexSlider -->
					<script defer src="{%static 'lib/web/js/jquery.flexslider.js'%}"></script>
					<script type="text/javascript">
					$(window).load(function(){
					  $('.flexslider').flexslider({
						animation: "slide",
						start: function(slider){
						  $('body').removeClass('loading');
						}
					  });
					});
				  </script>

<script type="text/javascript" src="{%static 'lib/web/js/move-top.js'%}"></script>
<script type="text/javascript" src="{%static 'lib/web/js/easing.js'%}"></script>

<script type="text/javascript">
			jQuery(document).ready(function($) {
				$(".scroll").click(function(event){		
					event.preventDefault();
					$('html,body').animate({scrollTop:$(this.hash).offset().top},900);
				});
			});
</script>
 <script type="text/javascript">
						$(document).ready(function() {
							/*
							var defaults = {
					  			containerID: 'toTop', // fading element id
								containerHoverID: 'toTopHover', // fading element hover id
								scrollSpeed: 1200,
								easingType: 'linear' 
					 		};
							*/
							
							$().UItoTop({ easingType: 'easeOutQuart' });
							
						});
					</script>
<!--end-smooth-scrolling-->
<!--js for bootstrap working-->
	<script src="{%static 'lib/web/js/bootstrap.js'%}"></script>
<!-- //for bootstrap working -->
</body>
</html>